<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <%-include("./partials/header")%>
    <main>
      <h1>New Game</h1>
      <form action="#" method="POST">
        <label for="gameName">Game Name:</label>
        <input type="text" id="gameName" name="gameName" required />
        <h3>Developers</h3>
        <div class="checkbox-container">
          <% developers.forEach((row)=>{%>
          <div class="checkbox-group">
            <input
              type="checkbox"
              id="<%=row.developer%>"
              name="developers"
              value="<%=row.id%>"
            />
            <label for="<%=row.developer%>"><%=row.developer%></label>
          </div>
          <%});%>
        </div>
        <h3>Genres</h3>
        <div class="checkbox-container">
          <% genres.forEach((row)=>{%>
          <div class="checkbox-group">
            <input
              type="checkbox"
              id="<%=row.genre%>"
              name="genres"
              value="<%=row.id%>"
            />
            <label for="<%=row.genre%>"><%=row.genre%></label>
          </div>
          <%});%>
        </div>
        <br />
        <br />
        <button type="submit">Submit Game</button>
      </form>
    </main>
  </body>
</html>
